<!-- src/app/three-mf-viewer/three-mf-viewer.component.html -->

<!-- <div class="viewer-container"> -->
<!-- <canvas #rendererCanvas></canvas>
  <div class="file-inputs">
    <div>
      <label for="bambuStudioFile">Load Bambu Studio 3MF:</label>
      <input
        type="file"
        id="bambuStudioFile"
        (change)="loadBambuStudio3MF($event)"
      />
    </div>
    <div>
      <label for="orcaSlicerFile">Load Orca Slicer 3MF:</label>
      <input
        type="file"
        id="orcaSlicerFile"
        (change)="loadOrcaSlicer3MF($event)"
      />
    </div>
  </div> -->
<!-- </div> -->
