.build-plate-canvas-wrapper {
  width: 100vw;
  height: 100vh;
  #build-plate-canvas {
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
    z-index: 3;
    margin: 0 auto;
  }
}
